.hidden {
  visibility: hidden;
}

.checked {
  color: #ffa500;
}

.image-area {
  cursor: pointer;
  height: 560px;
}

.dropdown-list .btn.btn-primary {
  color: #000;
  background-color: #fff;
  border-color: #05045e;
}

.imgContainer :hover {
  border: solid 4px #ecbc1c;
}

.imgContainer :focus {
  border: solid 4px #d8f167;
}

@media (max-width: 769px) {
  .image-area {
    height: 100%;
  }
}
