h4 {
  font-size: inherit;
}

.hidden {
  visibility: hidden;
}

.checked {
  color: #ffa500;
}

.holidayHome-row {
  display: flex;
  justify-content: space-evenly;
}

.image-area {
  height: 400px;
}

@media (max-width: 576px) {
  .image-area {
    height: 330px;
  }
}
