h4 {
  font-size: inherit;
}

.hidden {
  visibility: hidden;
}

.checked {
  color: #ffa500;
}

.holidayHome-row {
  display: flex;
  justify-content: space-evenly;
}

.image-area {
  height: 400px;
}
.dropdown-list .btn.btn-primary {
  color: #000000;
  background-color: #ffffff;
  border-color: #05045e;
}
@media (max-width: 576px) {
  .image-area {
    height: 330px;
  }

}

