button.search-btn {
  border-radius: 5px;
  border: solid 1px #969393;
  color: #969393;
  background-color: #ffffff;
}

.search-input {
  width: 100%;
}

@media (max-width: 376px) {
  .search-input {
    width: 150%;
  }
}
