.wrapper {
  height: 1000px;
  background-image: url('https://holiday-homes-project.s3.eu-north-1.amazonaws.com/george-bakos-LIMobIRzQik-unsplash.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.95;
}

.text-blue {
  color: rgb(0, 0, 255) !important;
}
